<p><%= link_to "Back", products_path %></p>

<section class="product">
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>

  <section class="product-info">
    <% cache @product do %>
      <h1><%= @product.name %></h1>
      <%= @product.description %>
    <% end %>

    <%= render "inventory", product: @product %>

    <% if authenticated? %>
      <%= link_to "Edit", edit_product_path(@product) %>
      <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    <% end %>
  </section>
</section>

<h2>Reviews</h2>
<%= form_with model: [@product, Review.new], local: true do |form| %>
  <p>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5, value: 5 %>
  </p>
  <p>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </p>
  <%= form.submit "Submit Review" %>
<% end %>

<ul class= "reviews">
  <% @product.reviews.each do |review| %>
    <li><strong>Rating:</strong> <%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>

<%= button_to "Buy Now", checkout_product_path(@product), method: :post %>
